*{
  padding: 0;
  margin: 0;
}

.container{
  max-width: 1000px;
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;
}

.todo-wrapper{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 20px;
}

.todo-wrapper > div{
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.all-todos{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px
}

.todo-card{
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.todo-card input{
  width: calc(100% - 12px);
  padding: 5px;
  border: white;
  color: black;
}

.todo-add-button{
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.todo-add-input{
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.todo-add-input input{
  width: calc(100% - 12px);
  padding: 5px;

}

.task-buttons{
  display: flex;
  justify-content: end;
}

.task-button{
  margin-top: 2px;
  border: none;
  padding: 5px;
  color: blue;
  cursor: pointer;
  background: white;
}

.task-button:hover{
  color: red;
}